:host nb-layout-header button:last-child {
  margin-left: 0;
}

:host main-container main-container-fixed {
  margin-left: 0;
  top: 0 !important;
}
.control-status-example {
  padding: 0.25rem;
  margin: 0.25rem;
}